body{
    font-family: Arial, Helvetica, sans-serif;
}
H1,H2{
    text-transform: uppercase;
    color: #7507ce;
    -webkit-text-stroke: 1px #000000;
}
.header{
    text-align: center;
    color: #7507ce;
    font-size:4.5 vmax;
    -webkit-text-stroke: 1px #000000;
}
.slogan{
    font: size 24px;
    font-style: italic;
    text-transform: capitalize;
    -webkit-text-stroke: 1px #000000;
    color:#cf00d6;
}
table{
    border-collapse: collapse;
}
th,td{
    border:1px solid #000000;
}
td.year{
    text-align:center;
}
a{
    text-decoration: none;
    color: #ffbb00;
}
img{
    width:100%;
}